<!-- <table>
  <thead>
    <td>
      hash
    </td>
    <td>
      Activity Name
    </td>
    <td>
      Activity Mode
    </td>


  </thead>
  <tr *ngFor="let node of rootSealNode">
    <td>
      {{node.hash}}
    </td>
    <td>
      {{node.displayProperties.name}}
    </td>

  </tr>
</table> -->
<!-- <table>
  <thead>
    <td>
      hash
    </td>
    <td>
      Activity Name
    </td>

  </thead>
  <tr *ngFor="let node of rootSealNode2">
    <td>
      {{node.modeType}}
    </td>
    <td>
      {{node.displayProperties.name}}
    </td>
    <td>
      <textarea>
      {{node | json}}
</textarea>
    </td>



  </tr>
</table> -->


<pre><code>
{{(user | async) | json}}
</code></pre>
<!-- <pre><code>
{{(prophecy | async) | json}}
</code></pre> -->
