<lib-table-search-bar>
  <ng-container *ngIf="clanMemberActivityService.clanMemberNames$ | async as memberStuff">
    <lib-member-search [data]="memberStuff" (selection)="clanMemberActivityService.memberSearch($event)">
    </lib-member-search>
  </ng-container>
  <lib-activity-mode-select [definitions]="clanMemberActivityService.activityModeDefinitionOptions"
    (selectedMode)="clanMemberActivityService.selectEventMode($event)">
  </lib-activity-mode-select>
</lib-table-search-bar>

<lib-clan-roster-activity-table [memberActivityStats]="clanMemberActivityService.activityStats"
  [isLoading]="clanMemberActivityService.isLoading"
  [memberProfilesLoading]="clanMemberActivityService.areMemberProfilesLoading$ | async"
  [theme]="clanMemberActivityService.theme$ | async" (viewMember)="viewMember($event)">
</lib-clan-roster-activity-table>

<!-- <pre>
  <code>
    {{clanMemberActivityService.activityStats | json}}
  </code>
</pre> -->
