<h2>Player Search</h2>
<mat-form-field appearance="outline" class="search">
  <input matInput autofocus #playerInput [formControl]="autocompleteControl" placeholder="Search by Player Name">
</mat-form-field>

<ng-container *ngIf="{loading: loading$ | async, members: members$ | async} as memberObs">

  <lib-loading matSuffix diameter='35' *ngIf="memberObs.loading; else memberList"></lib-loading>
  <ng-template #memberList>
    <mat-action-list>
      <button mat-list-item *ngFor="let member of memberObs.members; let idx = index" (click)="memberClick(member)">
        <div class="member-info">
          <mat-icon [svgIcon]="member.iconName"></mat-icon>
          <div class="member-info__member-name">
            {{member.name}}
          </div>
        </div>
      </button>
    </mat-action-list>
  </ng-template>
</ng-container>
