<h2 mat-dialog-title>Destiny 2 Clan Dashboard</h2>
<mat-dialog-content class="mat-typography">
  <p>I've been working on this app since early 2019. I'm a D2 clan admin and struggled trying to find out who's the most
    active, who's clearing what activities, and who is completely inactive. It's a passion project and I only work on
    it when I can. Send any feature requests or bug reports to the <a
      href="https://github.com/WorthyD/d2-clandashboard/issues" target="_blank">Repository</a></p>
  <p>
    I'm currently not collecting any data, but I'm planning on adding google analytics later.
  </p>
  <ul>
    <li><a href="https://braytech.org/" target="_blank">Braytech</a></li>
    <li><a href="https://www.d2checklist.com/" target="_blank">D2 Checklist</a></li>
    <li><a href="https://raid.report/" target="_blank">Raid Report</a></li>
    <li><a href="https://clan.report/" target="_blank">Clan Report</a></li>
  </ul>
  <p>
    <a href="https://twitter.com/worthyd" target="_blank">- WorthyD</a>
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
