table {
  width: 100%;
}
.raid-container {
  display: flex;
  flex-wrap: wrap;
}
.raid-card {
  flex: 1 0 250px;
}
mat-card{
  display:block;
  max-width:400px;
}

.raid-info {
  display: flex;
  align-content: space-between;
  width:100%;

  .raid-name {
      flex: 1;
  }
}
