<div *ngIf="clanDetails$ | async as clanDetails">
    <h1>{{clanDetails.name}}</h1>
    <h3>{{clanDetails.motto}}</h3>
    <h4>Member Count: {{clanDetails.memberCount}}</h4>
    <p>{{clanDetails.about}}</p>
    <!-- <code>
        <pre>
            {{clanDetails | json}}
        </pre>
    </code> -->
</div>
<div *ngIf="clanDetails.clanWeekRewards$ | async as clanRewards" style="height:400px; overflow: scroll">
    <pre><code>
    {{clanRewards | json}}
</code></pre>
</div>


<div *ngIf="clanDetails.clanRewards$ | async as clanRewards" style="height:400px; overflow: scroll">
    <pre><code>
    {{clanRewards | json}}
</code></pre>
</div>
<div *ngIf="clanDetails.clanRewardDefinitions$ | async as clanRewardsDef" style="height:400px; overflow: scroll">
    <pre><code>
    {{clanRewardsDef | json}}
</code></pre>
</div>
