<mat-form-field appearance="outline" class="search">
  <input matInput autofocus #clanInput (keyup.Enter)="open(clanInput.value)" [matAutocomplete]="auto"
    [formControl]="autocompleteControl" placeholder="Search by Player Name, Clan Name, Clan Id, or Bungie Clan URL">
  <!-- <i matSuffix class="material-icons">mode_edit</i> -->
  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="true"
    (optionSelected)="autocompleteSelected($event)">
    <ng-container *ngIf="(autocompleteResult$ | async) as clans">
      <mat-option disabled class="loading" *ngIf="loading">

        <lib-loading matSuffix diameter='35'></lib-loading>
      </mat-option>
      <mat-option *ngFor="let clan of clans" [value]="clan">
        <ng-container *ngIf="clan.type === 'player'; else group">
          <mat-icon [svgIcon]="clan.iconName"></mat-icon>
        </ng-container>
        <!-- <img src="https://bungie.net{{clan.iconPath}}" *ngIf="clan.iconPath" class="mr-3" height="25" /> {{clan.name}} -->
        {{clan.name}}
      </mat-option>
      <mat-option disabled *ngIf="clans.length === 0 && !loading">
        Clan Not Found
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</mat-form-field>

<ng-template #group>
  <mat-icon>people</mat-icon>
</ng-template>
