.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
}
.clan-nav{
    min-width:150px;
}

lib-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

mat-sidenav-container{
    min-height: calc(100vh - 64px);
}
