<div class="main-container">
  <lib-navbar [clanDetails]="clanDetails$ | async" [versionNumber]="versionNumber"
    (selectThemeOutput)="changeTheme($event)" (openLink)="openLink($event)" (openAbout)="openAbout()"
    (resetDatabase)="resetDatabase()"></lib-navbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened>
      <mat-nav-list class="clan-nav">
        <div class="section-nav">
          <a mat-list-item routerLink="./" routerLinkActive="active"> Details </a>
          <a mat-list-item routerLink="roster" routerLinkActive="active"> Roster </a>
          <a mat-list-item routerLink="member-activity" routerLinkActive="active"> Member Activity </a>
          <a mat-list-item routerLink="seals" routerLinkActive="active"> Seals </a>
          <a mat-list-item routerLink="raids" routerLinkActive="active"> Raids </a>
          <a mat-list-item (click)="goHome()">Home</a>
        </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
