<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span *ngIf="clanDetails$ | async as clanDetails">{{clanDetails.name}}</span>
    </mat-toolbar-row>
</mat-toolbar> -->
<div class="main-container">
    <lib-navbar [clanDetails]="clanDetails$ | async"></lib-navbar>
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened>
            <mat-nav-list class="clan-nav">
                <a mat-list-item routerLink="./" routerLinkActive="active"> Details </a>
                <a mat-list-item routerLink="roster" routerLinkActive="active"> Roster </a>
                <a mat-list-item routerLink="/" >Clan Search</a>
            </mat-nav-list>

        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
