:host {
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: center;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  display: block;
  padding: 64px;
  overflow: auto;
}
.header {
  text-align: center;
}
.clan-search {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;

  .search {
    width: 100%;
    max-width: 500px;
  }
}
.footer {
  flex: 0;
}
