<h1>
  Destiny 2 Clan Dashboard
</h1>
<p>
  This app is still in a very Alpha stage. Peak around knowing there will be bugs.
</p>
<div class="clan-search">
  <h2>Clan Search <i class="material-icons"
      matTooltip="Must search for full clan name. Bungie doesn't support a 'fuzzy' search.">
      help
    </i></h2>
  <mat-form-field appearance="outline" class="search">
    <input matInput autofocus #clanInput (keyup.Enter)="open(clanInput.value)" [matAutocomplete]="auto"
      [formControl]="autocompleteControl" placeholder="Find your clan...">
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="true"
      (optionSelected)="autocompleteSelected($event)">
      <mat-option *ngFor="let clan of (autocompleteResult$ | async)" [value]="clan">
        {{clan.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div>
    <app-saved-clans></app-saved-clans>
  </div>
  <div>
    <app-featured-clans></app-featured-clans>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
