:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 64px;
    overflow: auto;
}
.clan-search {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    justify-content: center;

    .search{
        width:250px;
    }
}
.footer {
    flex: 0;
}
