@use '~@angular/material' as mat;
@import '~@angular/material/theming';
$destiny-dashboard-primary: mat.define-palette(mat.$blue-grey-palette);
$destiny-dashboard-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$destiny-dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$destiny-dashboard-theme: mat.define-light-theme($destiny-dashboard-primary, $destiny-dashboard-accent, $destiny-dashboard-warn);
