h1,
.h1 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 1.5rem;
  font-weight:normal;
  &--bold{
    font-weight:bold;
  }
}
h3,
.h3 {
  font-size: 1.17rem;
  font-weight:normal;
  &--bold{
    font-weight:bold;
  }
}
h4,
.h4 {
  font-size: 1rem;
&--bold{
    font-weight:bold;
  }
}
h5,
.h5 {
  font-size: .83rem;
&--bold{
    font-weight:bold;
  }
}
h6,
.h6 {
  font-size: .67rem;
&--bold{
    font-weight:bold;
  }
}
