<div class="container">
  <div *ngIf="memberOverviewService.selectedProfile$ | async as selectedProfile" class="row my-3">
    <div class="col">
      <lib-member-overview [memberOverview]="selectedProfile"></lib-member-overview>
    </div>
  </div>

  <div *ngIf="memberOverviewService.selectSeasonPass$ | async as selectSeasonPass" class="row my-3">
    <div class="col">
      <lib-season-pass [clanMemberSeasonPass]="selectSeasonPass"></lib-season-pass>
    </div>
  </div>


  <div *ngIf="memberOverviewService.selectedCharacters$ | async as selectedCharacters" class="row my-3">
    <div class="col" *ngFor="let character of selectedCharacters">
      <lib-character-card [character]="character"></lib-character-card>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <lib-member-callout [title]="'Player Snapshot'" [callouts]="memberOverviewService.memberSnapShot$ | async">
      </lib-member-callout>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <app-activity-time-chart></app-activity-time-chart>
    </div>
  </div>

</div>
