@mixin d2-side-menu-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  .mat-nav-list .active-link {
    //background: mat-color($accent);;
    color: mat-color($primary, default-contrast) !important;
    background: mat-color($primary);

    &:hover, &:focus {
      background-color: mat-color($primary, darker) !important;
    }
  }
}
@mixin d2-side-menu-base() {
}

@include d2-side-menu-theme($destiny-dashboard-theme);

@include d2-side-menu-base();
