<!-- <ng-container>
<pre>
{{sealService.sealNodes | json}}
</pre>
</ng-container> -->
<!-- <ng-container *ngIf="sealService.rootSealNode">
  <ng-container *ngFor="let seal of sealService.rootSealNode.children.presentationNodes">
    <app-seal [presentationNode]="sealService.getChildNode(seal.presentationNodeHash)"></app-seal>
  </ng-container>
</ng-container> -->


<ng-container *ngIf="!  (sealService.sealsLoading$ | async); else loading">
  <ng-container *ngIf="sealService.sealMembers$ | async as sealNodes">
    <ng-container *ngFor="let seal of sealNodes">
      <lib-clan-seal [sealMembers]="seal" class="m-3"></lib-clan-seal>
    </ng-container>
  </ng-container>
</ng-container>
<ng-template #loading>
  <div class="text-center m-5">
    <h2>Loading Seals</h2>
    <p>Hold tight. We're pulling a lot of data.</p>
    <lib-loading></lib-loading>
  </div>
</ng-template>
