<div class="container">
  <div class="row my-3">
    <div class="col">
      <lib-member-overview *ngIf="memberProfile$ | async as memberProfile" [memberOverview]="memberProfile">
      </lib-member-overview>
      <div *ngIf="characters$ | async as characters">
        <div *ngFor="let character of characters" class="my-3">
          <lib-character-card [character]="character"></lib-character-card>
        </div>
      </div>

      <div class="my-3">
      <lib-season-pass *ngIf="seasonPass$ | async as seasonPass" [clanMemberSeasonPass]="seasonPass"></lib-season-pass>
</div>
    </div>
    <div class="col">
      <lib-bungie-info [bungieInfo]="bungieInfo$ | async" [isLoading]="bungieInfoLoading$ | async">
      </lib-bungie-info>
    </div>

  </div>
  <!-- <div *ngIf="seasonPass$ | async as seasonPass" class="row my-3">
    <div class="col">
    </div>
  </div> -->
  <div class="row my-3">
    <div class="col">
      <lib-member-callout [title]="'Player Snapshot'" [callouts]="memberSnapShot$ | async">
      </lib-member-callout>
    </div>
  </div>

  <div class="row my-3">
    <div class="col">
      <lib-activity-time-chart [loading]="activityIsLoading | async" [events]="playerActivities | async"
        (selectionChange)="changeDuration($event)" [theme]="(theme | async)"></lib-activity-time-chart>
    </div>
  </div>

</div>
