<!-- <textarea>
  {{(memberActivityService. playerActivities2$ | async) | json}}
</textarea>
<textarea>
  {{(memberActivityService. playerActivities$ | async) | json}}
</textarea> -->

<div>
  <lib-activity-mode-select [definitions]="memberActivityService.activityModeDefinitionOptions">
  </lib-activity-mode-select>
  <lib-member-activity-heat-map [events]="memberActivityService.playerActivities2$ | async"
    [isLoading]="memberActivityService.playerActivitiesLoading"
    (dateSelected)="memberActivityService.loadDate($event)"></lib-member-activity-heat-map>

    <!-- [isLoading]="memberActivityService.playerActivitiesLoading$ | async" -->
</div>
<!-- <textarea>
  {{(memberActivityService.activityDetails$ | async) | json}}
</textarea> -->
<div *ngIf="memberActivityService.activityDetails$| async as activityDetails">
  <lib-activity-grid [activityItems]="activityDetails"></lib-activity-grid>
</div>
