<!-- <textarea>
  {{(memberActivityService.playerActivities$ | async) | json}}
</textarea> -->
<div>
  <lib-member-activity-heat-map [events]="memberActivityService.playerActivities$ | async"
    [isLoading]="memberActivityService.playerActivitiesLoading$ | async"
    (dateSelected)="memberActivityService.loadDate($event)"></lib-member-activity-heat-map>
</div>
<!-- <textarea>
  {{(memberActivityService.activityDetails$ | async) | json}}
</textarea> -->
<div *ngIf="memberActivityService.activityDetails$| async as activityDetails">
  <lib-activity-grid [activityItems]="activityDetails"></lib-activity-grid>
</div>
