<div class="home-page">
  <div class="home-info bg {{bgClass}}">
    <div class="info">
      <h1>
        Destiny 2 Clan Dashboard
      </h1>
      <h2>View your clan's health quickly and easily.</h2>
      <p>
        Pardon the dust. This app is still in a very Alpha stage. Peak around knowing there will be bugs. <a
          href="https://twitter.com/worthyd">Send me your feedback</a>
      </p>
    </div>
  </div>
  <div class="features container ">
    <div class="m-5">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="material-icons">
                date_range
              </i>
            </div>
            <div class="col-10 px-3">
              <h3>Seasonal Progress</h3>
              <p>
                View seasonal progress on both a clan and player level.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="material-icons">
                group
              </i>
            </div>
            <div class="col-10 px-3">
              <h3>Roster Activity</h3>
              <p>
                Find out who has been the most active over the last year by viewing interactive heatmaps.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="material-icons">
                reduce_capacity
              </i>
            </div>
            <div class="col-10 px-3">
              <h3>Raid Stats</h3>
              <p>
                Discover who has the most Raid clears and find the most qualified Sherpas in your clan or find out who
                needs that first clear.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="row">
            <div class="col-2">
              <i class="material-icons">
                verified_user
              </i>
            </div>
            <div class="col-10 px-3">
              <h3>Seal Completion</h3>
              <p>
                Celebrate the accomplishment of completing seals with your clan. Easily view who's finished seals and
                find
                out who needs help.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clan-search">
    <h2>Find Your Clan<i class="material-icons"
        matTooltip="Search by Clan Name, Clan Id, or Clan URL. Clan Name must search for full clan name. Bungie doesn't support a 'fuzzy' search.">
        help
      </i></h2>
    <app-clan-search></app-clan-search>
    <!-- <mat-form-field appearance="outline" class="search">
      <input matInput autofocus #clanInput (keyup.Enter)="open(clanInput.value)" [matAutocomplete]="auto"
        [formControl]="autocompleteControl" placeholder="Search by name, Clan Id, or Bungie Clan URL">
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption="true"
        (optionSelected)="autocompleteSelected($event)">
        <ng-container *ngIf="(autocompleteResult$ | async) as clans">
          <mat-option disabled class="loading" *ngIf="loading">

            <lib-loading matSuffix diameter='35'></lib-loading>
          </mat-option>
          <mat-option *ngFor="let clan of clans" [value]="clan">
            {{clan.name}}
          </mat-option>
          <mat-option disabled *ngIf="clans.length === 0 && !loading">
            Clan Not Found
          </mat-option>
        </ng-container>
      </mat-autocomplete>
    </mat-form-field> -->
    <div>
      <!-- <app-saved-clans></app-saved-clans> -->
    </div>
    <div>
      <!-- <app-featured-clans></app-featured-clans> -->
    </div>
  </div>
  <div class="footer">
    <!-- <app-footer></app-footer> -->
  </div>
</div>
