<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="./" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                true}">Player Overview</a>
            <a mat-list-item routerLink="./activity" routerLinkActive="active-link">Activity</a>
            <a mat-list-item routerLink="./activity" routerLinkActive="active-link">Activity</a>
             <!-- https://raid.report/pc/4611686018467238913 -->
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <div>
      </div>
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>
