@use '~@angular/material' as mat;
@import '~@angular/material/theming';

@mixin member-details-theme($theme) {
  $accent: map-get($theme, accent);

  button {
    &.active-link {
      color: mat.get-color-from-palette($accent, default-contrast);
      background-color: mat.get-color-from-palette($accent);
    }

  }
}
