<div class="m-3">
  <ng-container *ngIf="clanSealDetails$ | async as clanSealDetails; else loading">
    <lib-clan-seal-details [seal]="clanSealDetails.seal" [completedNumber]="clanSealDetails.completedNumber"
      [completedPercentage]="clanSealDetails.completedPercentage" [guildedNumber]="clanSealDetails.guildedNumber"
      [guildedPercentage]="clanSealDetails.guildedPercentage" [hasGuilded]="clanSealDetails.hasGuilded"
      [totalMembers]="clanSealDetails.totalMembers">

    </lib-clan-seal-details>
  </ng-container>
</div>

<ng-container *ngIf="clanSealTableData$ | async as clanSealTableData;">
  <lib-clan-seal-table [clanSealTableData]="clanSealTableData"></lib-clan-seal-table>
</ng-container>
<ng-template #loading>
  <div class="text-center m-5">
    <h2>Loading...</h2>
    <lib-loading></lib-loading>
  </div>
</ng-template>
